@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GenEiLateGo";
  src: url("/fonts/GenEiLateGoN_v2.ttf");
}

@font-face {
  font-family: "GenEiKoburiMin";
  src: url("/fonts/GenEiKoburiMin6-R.ttf");
}

/* support iOS */
html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

svg.svg-shadow {
  filter: drop-shadow(-0.8px 2px 0.5px #fff);
}

.font-latego {
  font-family: "GenEiLateGo";
}

.font-koburi {
  font-family: "GenEiKoburiMin";
}

.bg-pattern-root {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E"),
    linear-gradient(
      180deg,
      rgba(254, 253, 248, 0.6) 0%,
      rgba(248, 251, 255, 0.6) 100%
    );
  background-color: white;
}

.bg-pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E"),
    linear-gradient(
      180deg,
      rgba(254, 253, 248, 1) 0%,
      rgba(248, 251, 255, 1) 100%
    );

  animation: scroll-anim 20s linear infinite;
}
@keyframes scroll-anim {
  100% {
    background-position: 100% 0;
  }
}

.bg-rotation {
  animation: rotation-anim 60s linear infinite;
}
@keyframes rotation-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .status-label {
    @apply flex justify-center items-center bg-[#9e8ea2] rounded;
  }
}

.btn-mode {
  @apply flex-1 p-0.5 font-semibold bg-gradient-to-b from-white to-[#dcdcfe] border border-b-2 border-gray-700;
}

.btn-mode.selected {
  @apply text-white from-pink-600 to-pink-400 border-t-2 border-b;
}

.btn-mode:first-child {
  @apply rounded-l-md;
}

.btn-mode:first-child.selected {
  @apply border-r-0;
}

.btn-mode:last-child {
  @apply rounded-r-md;
}

.btn-mode:last-child.selected {
  @apply border-r border-l-0;
}

.scrollbar::-webkit-scrollbar {
  @apply w-3;
}

.scrollbar::-webkit-scrollbar-track {
  @apply rounded-full bg-[#837987] bg-clip-padding border-[4px] border-solid border-transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-white border border-solid border-gray-600;
}

.scrollbar.overflow-x-auto::-webkit-scrollbar {
  @apply h-4;
}

.scrollbar.overflow-x-auto::-webkit-scrollbar-track {
  @apply rounded-full bg-[#837987] bg-clip-padding border-[5px] border-solid border-transparent;
}

.scrollbar.overflow-x-auto::-webkit-scrollbar-thumb {
  @apply rounded-full bg-white border border-solid border-gray-600;
}

.text-shadow {
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0,
    white 1px -1px 0, white 0px 1px 0, white 0-1px 0, white -1px 0 0,
    white 1px 0 0;
}

.selected > .text-shadow {
  text-shadow: rgb(190 24 93) 1px 1px 0, rgb(190 24 93) -1px -1px 0,
    rgb(190 24 93) -1px 1px 0, rgb(190 24 93) 1px -1px 0,
    rgb(190 24 93) 0px 1px 0, rgb(190 24 93) 0-1px 0, rgb(190 24 93) -1px 0 0,
    rgb(190 24 93) 1px 0 0;
}

.suggest-rotate {
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

.suggest-rotate.v2h {
  animation-name: rotateV2H;
}

.suggest-rotate.h2v {
  animation-name: rotateH2V;
}

@keyframes rotateV2H {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes rotateH2V {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
